@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    user-select: none;
    background: var(--color-4);
}

:root {
    --color-1: #FE8863;
    --color-2: #D93B2C;
    --color-3: #F3CDBF;
    --color-4: #E7C9C0;
    --shadow: 0 5px 10px #00000033;
    --transition: 0.3s ease-in-out;
}

body {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--color-2);
}

::selection {
    color: var(--color-4);
    background: var(--color-2);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-4);
}

::-webkit-scrollbar-thumb {
    background: var(--color-1);
    border-radius: 10px;
}

#theme-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: -200px;
    background-color: var(--color-3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    to {
        right: 10px;
    }
}

.theme-select-button {
    padding: 5px 10px;
    border: 2px solid var(--color-1);
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: var(--transition);
    background-color: var(--color-3);
    color: var(--color-2);
    border-radius: 50px;
    box-shadow: var(--shadow);
    width: 125px;
}

.material-symbols-outlined {
    background: transparent;
    color: var(--color-2);
    font-size: 40px;
    padding: 5px 10px;
}

.material-symbols-outlined:hover {
    color: var(--color-3);
}

.gradient-text {
    background: linear-gradient(45deg, var(--color-1), var(--color-2), var(--color-3));
    background-clip: text;
    color: transparent;
    animation: gradient-animation 3s ease infinite;
    background-size: 200% 200%;
}

.glowing-text {
    color: var(--color-2);
    text-shadow: 0px 0px 10px;
    background: transparent;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    border-radius: 15px;
    transition: var(--transition);
}

h1 {
    font-size: 50px;
    color: var(--color-2);
    margin-bottom: 20px;
}

form {
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.custom-file-upload {
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid var(--color-1);
    margin: 15px;
    background: var(--color-1);
    border-radius: 10px;
    transition: var(--transition);
    box-shadow: var(--shadow);
}

.custom-file-upload:hover {
    border-color: var(--color-2);
}

input[type="file"] {
    display: none;
}

.file-drop-area {
    height: 250px;
    padding: 50px;
    border: 3px dashed var(--color-1);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    background-color: var(--color-4);
    box-shadow: var(--shadow);
}

.file-drop-area p {
    font-size: 30px;
    color: var(--color-2);
    text-shadow: 0 0 5px var(--color-1);
    /* Added glow effect */
}

.file-drop-area:hover,
.file-drop-area:active,
.file-drop-area:focus {
    border-color: var(--color-2);
    background-color: var(--color-3);
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.button {
    padding: 15px 30px;
    border: 2px solid var(--color-1);
    font-size: 20px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin: 15px auto;
    transition: var(--transition);
    background-color: var(--color-3);
    color: var(--color-2);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.button:hover {
    background: var(--color-1);
    color: #fff;
    border-color: var(--color-2);
}

.disabled-button {
    padding: 15px 30px;
    border: 2px solid var(--color-1);
    font-size: 20px;
    margin: 10px auto;
    transition: var(--transition);
    background-color: var(--color-1);
    color: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.disabled-button:hover {
    border-color: var(--color-2);
}

.icon-button {
    margin: 0 10px;
    border: 2px solid var(--color-1);
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    transition: var(--transition);
    background-color: var(--color-3);
    color: var(--color-2);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.icon-button:hover {
    background: var(--color-1);
    color: #fff;
    border-color: var(--color-2);
}

.button-group {
    display: flex;
}

.preview-image-container {
    position: relative;
    display: inline-block;
}

.preview-image {
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 15px;
    border: 2px solid var(--color-1);
    padding: 10px;
    object-fit: contain;
    transition: var(--transition);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.preview-image:hover,
.preview-image:active,
.preview-image:focus {
    transform: scale(1.05);
    border-color: var(--color-2);
}

.icon-button-overlay {
    position: absolute;
    bottom: 30px;
    left: 15px;
    margin: 0 10px;
    border: 2px solid var(--color-1);
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    transition: var(--transition);
    background-color: var(--color-3);
    color: var(--color-2);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.icon-button-overlay:hover {
    background: var(--color-1);
    color: #fff;
    border-color: var(--color-2);
}

.progress-notification {
    /* Renamed to progress-notification to avoid CSS conflict and for clarity */
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--color-3);
    color: var(--color-2);
    padding: 15px 20px;
    /* Increased padding for better visual */
    border-radius: 10px;
    box-shadow: var(--shadow);
    z-index: 1000;
    display: none;
    width: 300px;
    /* Fixed width for better layout */
    text-align: left;
    /* Left align text inside notification */
}

.progress-notification p {
    margin: 5px 0;
    /* Add some spacing between text elements */
    background-color: transparent;
    /* Ensure background is transparent */
    color: var(--color-2);
}
.progress-notification p span{
    margin: 5px 0;
    /* Add some spacing between text elements */
    background-color: transparent;
    /* Ensure background is transparent */
    color: var(--color-2);
}


.progress-bar {
    height: 10px;
    /* Reduced height for sleeker look */
    overflow: hidden;
    position: relative;
    background-color: var(--color-3);
    /* Lighter background for progress bar track */
    border-radius: 5px;
    /* Rounded progress bar */
    border: 1px solid var(--color-1);
    /* Added border for better definition */
}

.progress-fill {
    height: 100%;
    width: 0%;
    /* Start with 0 width and update dynamically */
    background-color: var(--color-1);
    /* Fill color */
    border-radius: 5px;
    transition: width 0.3s ease;
    /* Smooth width transition */
}

.progress-percentage,
.download-speed {
    font-size: 14px;
    /* Smaller font for percentage and speed */
    font-weight: normal;
    /* Regular font weight */
}


.progress-container {
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    box-shadow: var(--shadow);
}

.progress-container .progress-bar {
    /* Targeting progress bar within progress-container */
    height: 30px;
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    border: 2px solid var(--color-1);
    background-color: var(--color-4);
    border-radius: 10px;
}

.progress-container .progress-bar .progress-fill {
    /* Targeting progress-fill within progress-container's progress-bar */
    height: 100%;
    width: 200%;
    position: absolute;
    animation: progress-animation 5s linear infinite;
    font-size: 20px;
    background: transparent;
    background-attachment: fixed;
}

@keyframes progress-animation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.main-image-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-container {
    display: block;
    padding: 15px;
    margin: 20px 0;
}

.uploaded-images,
.restored-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;
    border: 2px solid var(--color-1);
    border-radius: 15px;
    padding: 5px;
    box-shadow: var(--shadow);
}

.text {
    font-size: 25px;
    color: var(--color-2);
}

.download,
.remove {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

button:hover,
button:focus,
button:active {
    transform: scale(1.05);
}

.app-title {
    display: block;
    margin: auto;
    width: 100%;
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#uploaded-count {
    display: none;
}

@media screen and (max-width: 430px) {
    .file-drop-area {
        width: 80%;
    }

    .progress-container {
        width: 90%;
    }
}


.gpu-info {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--color-3);
    color: var(--color-2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    z-index: 1000;
    text-align: left;
}

.gpu-info span{
    background: var(--color-3);
}

.error-notification {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #D93B2C;
    /* Error background color (color-2) */
    color: var(--color-4);
    /* Error text color (color-4) */
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    z-index: 1001;
    /* Higher z-index than progress notification */
    display: none;
    /* Initially hidden */
    width: 300px;
    text-align: left;
}

.error-notification p {
    margin: 5px 0;
    background-color: transparent;
    color: var(--color-4);
}